* {
    background-color: beige;
}

.rps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc {
    display:flex;
    gap: 50px;
    
}

.pc-message {
    display:flex;
    flex-direction: row;
    gap: 50px;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
}

button:hover {
    background-color: blanchedalmond;
    color: black;
}

#winner-result {
 font-weight: bold;  
 font-size: 17px; 
}

#restart-btn {
    width: 80px;
    margin-top: 20px;
    display: none;
}